USE [portal]
GO
/****** Object:  Table [dbo].[NewsImage]    Script Date: 5/9/2025 10:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewsId] [int] NOT NULL,
	[NewsUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NewsImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prtl_News]    Script Date: 5/9/2025 10:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prtl_News](
	[News_Id] [int] IDENTITY(1,1) NOT NULL,
	[News_date] [datetime2](7) NOT NULL,
	[News_img] [nvarchar](max) NOT NULL,
	[Owner_ID] [uniqueidentifier] NOT NULL,
	[IsFeature] [bit] NOT NULL,
 CONSTRAINT [PK_prtl_News] PRIMARY KEY CLUSTERED 
(
	[News_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prtl_News_Translations]    Script Date: 5/9/2025 10:53:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prtl_News_Translations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[News_Head] [nvarchar](max) NOT NULL,
	[News_Abbr] [nvarchar](max) NOT NULL,
	[News_Body] [nvarchar](max) NOT NULL,
	[News_Source] [nvarchar](max) NOT NULL,
	[Lang_Id] [int] NOT NULL,
	[Img_alt] [nvarchar](max) NOT NULL,
	[NewsId] [int] NULL,
 CONSTRAINT [PK_prtl_News_Translations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NewsImage] ON 

GO
SET IDENTITY_INSERT [dbo].[prtl_News] ON 

INSERT [dbo].[prtl_News] ([News_Id], [News_date], [News_img], [Owner_ID], [IsFeature]) VALUES (1, CAST(N'2025-03-15T12:00:00.0000000' AS DateTime2), N'http://mu.menofia.edu.eg/PrtlFiles/uni/Portal/Images/272eb211-d9d6-4109-926a-dd801722feed.png', N'd290f1ee-6c54-4b01-90e6-d701748f0851', 1)
INSERT [dbo].[prtl_News] ([News_Id], [News_date], [News_img], [Owner_ID], [IsFeature]) VALUES (2, CAST(N'2025-03-15T12:00:00.0000000' AS DateTime2), N'http://mu.menofia.edu.eg/PrtlFiles/uni/Portal/Images/f7bd3955-ee70-435b-a418-72edb49145e5.png', N'62d7ddf5-eee9-4aa3-b30d-57975e6a9ca8', 0)
INSERT [dbo].[prtl_News] ([News_Id], [News_date], [News_img], [Owner_ID], [IsFeature]) VALUES (3, CAST(N'2025-03-15T12:00:00.0000000' AS DateTime2), N'http://mu.menofia.edu.eg/PrtlFiles/uni/Portal/Images/54d66363-a0b6-4074-9568-d2ed424a2549.png', N'62d7ddf5-eee9-4aa3-b30d-57975e6a9ca8', 1)
SET IDENTITY_INSERT [dbo].[prtl_News] OFF
GO
SET IDENTITY_INSERT [dbo].[prtl_News_Translations] ON 

SET IDENTITY_INSERT [dbo].[prtl_News_Translations] OFF
GO
ALTER TABLE [dbo].[prtl_News] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeature]
GO
ALTER TABLE [dbo].[NewsImage]  WITH CHECK ADD  CONSTRAINT [FK_NewsImage_prtl_News_NewsId] FOREIGN KEY([NewsId])
REFERENCES [dbo].[prtl_News] ([News_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsImage] CHECK CONSTRAINT [FK_NewsImage_prtl_News_NewsId]
GO
ALTER TABLE [dbo].[prtl_News_Translations]  WITH CHECK ADD  CONSTRAINT [FK_prtl_News_Translations_prtl_News_NewsId] FOREIGN KEY([NewsId])
REFERENCES [dbo].[prtl_News] ([News_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prtl_News_Translations] CHECK CONSTRAINT [FK_prtl_News_Translations_prtl_News_NewsId]
GO
